[aria-label *= 'Trending now'],
[aria-label = 'Who to follow'] {
  display: none;
}

/* Blur out the general timeline for M A X I M U M   F O C U S */
/* [aria-label = 'Timeline: Your Home Timeline'] { */
/*   opacity: .5; */
/*   filter: blur(5px) grayscale(100%); */
/* } */


/* Hide like and retweet counts */
[aria-label ^= 'Timeline'] [data-testid='retweet'],
[aria-label ^= 'Timeline'] [data-testid='like'],
[aria-label ^= 'Timeline'] [aria-label="Share Tweet"] {
  opacity: 0.00001;
}

/* ...unless tweet is hovered */
[aria-label ^= 'Timeline'] [data-testid='tweet']:hover [data-testid='retweet'],
[aria-label ^= 'Timeline'] [data-testid='tweet']:hover [data-testid='like'],
[aria-label ^= 'Timeline'] [data-testid='tweet']:hover [data-testid='like'] {
  opacity: 1;
}
