[submodule "vim/bundle/scss-syntax.vim"]
	path = vim/bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "zsh/git-flow-completion"]
	path = zsh/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/slim.vim"]
	path = vim/bundle/slim.vim
	url = https://github.com/bbommarito/vim-slim.git
[submodule "vim/bundle/coffee-script.vim"]
	path = vim/bundle/coffee-script.vim
	url = https://github.com/jayferd/vim-coffee-script.git
[submodule "vim/bundle/NERD_commenter"]
	path = vim/bundle/NERD_commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/autoclose.vim/plugin"]
	path = vim/bundle/autoclose.vim/plugin
	url = https://github.com/korpz/Autoclose-vim.git
[submodule "vim/bundle/command-t.vim"]
	path = vim/bundle/command-t.vim
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/markdown.git"]
	path = vim/bundle/markdown.git
	url = https://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/endwise.vim"]
	path = vim/bundle/endwise.vim
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/vim-ruby-runner"]
	path = vim/bundle/vim-ruby-runner
	url = https://github.com/henrik/vim-ruby-runner.git
[submodule "vim/bundle/markdown-preview.vim"]
	path = vim/bundle/markdown-preview.vim
	url = https://github.com/henrik/vim-markdown-preview.git
[submodule "vim/bundle/rails.vim"]
	path = vim/bundle/rails.vim
	url = https://github.com/tpope/vim-rails.git
[submodule "vim/bundle/snipmate.git"]
	path = vim/bundle/snipmate.git
	url = git@github.com:mikker/snipmate.vim.git
[submodule "vim/bundle/vim-unimpaired.git"]
	path = vim/bundle/vim-unimpaired.git
	url = git://github.com/tpope/vim-unimpaired.git
[submodule "vim/bundle/matchit.vim"]
	path = vim/bundle/matchit.vim
	url = https://github.com/tsaleh/vim-matchit.git
