[submodule "zsh/git-flow-completion"]
	path = zsh/git-flow-completion
	url = https://github.com/bobthecow/git-flow-completion.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
