doc/tags
/vim/vim.symlink/bundle
/tmux/tmux.symlink/plugins
/vim/vim.symlink/.netrwhist
nvim/plugin/packer_compiled.lua
nvim/lazy-lock.json
macos/brew/Brewfile.lock.json
macos/karabiner/automatic_backups
