snippet helvetica "Helvetica stack"
'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
endsnippet
snippet georgia "Serif stack"
'Georgia', 'Times New Roman', 'Times', serif;
endsnippet
snippet sysfont "Default system font"
-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
endsnippet
snippet hhh "Every headline"
h1, h2, h3, h4, h5, h6 { ${1} }
endsnippet
