snippet helvetica "Helvetica stack"
'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
endsnippet
snippet georgia "Serif stack"
'Georgia', 'Times New Roman', 'Times', serif;
endsnippet
snippet sysfont "Default system font"
system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
endsnippet
snippet hhh "Every headline"
h1, h2, h3, h4, h5, h6 { ${1} }
endsnippet
