snippet G "rspec-given style Given"
Given(:$1) { $0 }
endsnippet
snippet desc "rspec describe block"
describe '$1' do
	$0
end
endsnippet
snippet cont "rspec context block"
context '$1' do
	$0
end
endsnippet
snippet it "rspec it example"
it '$1' do
	$0
end
endsnippet
snippet req "require"
require '$0'
endsnippet
snippet wtf "tenderlove debugging"
puts '#' * 90
puts ${0:caller}
puts '#' * 90
endsnippet
snippet ex "rspec expect"
expect(${1:subject}).to$0
endsnippet
