snippet helvetica
$helvetica: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
endsnippet
snippet georgia
$georgia: 'Georgia', 'Times New Roman', 'Times', serif;
endsnippet
snippet hhh
h1, h2, h3, h4, h5, h6 { ${1} }
endsnippet
