body {
}

.navbar {
  background-color: #fff;
  border: none;
  color: #999;
}

.navbar__logo {
  filter: hue-rotate(90deg);
}

.navbar__inbox::before {
  opacity: 0.2 !important;
}

.sheet,
.entry--sheet {
  background: var(--color-bg--main);
  box-shadow: none !important;
}

.entry--sheet {
  --entry-padding: 2rem;
}

.entry__header {
  align-items: center;
}

.entry__content {
  max-width: 68ch;
  margin: 2em auto 0;
}

.entry__participants {
  padding-bottom: 0;
}

.entry__participants,
.entry__sender-email,
.entry__recipients {
  font-size: var(--font-size-x-small);
}

.topic__title-scrolled {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.page-toolbar__action span {
  display: none;
}

.page-toolbar__action::before {
  height: 3.2em;
}

.action-group__action-hotkey {
  top: 1em;
  right: 1.5em;
  opacity: 0.2;
}

.page-toolbar__content {
  background: #fafafa;
  color: #999;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.inbox-unseens__none img {
  display: none;
}
.inbox-unseens__none h2 {
  color: #777;
  font-weight: 500 !important;
}

.topic__header {
  display: flex;
  align-items: center;
  justify-items: center;
}

.topic__header .topic__meta,
.topic__header .topic__meta .topic-people {
  margin-bottom: 0 !important;
}

h1[data-bridge--page-target="header"] {
  font-size: 1em;
}

.body--inbox h1[data-bridge--page-target="header"],
.body--inbox .inbox-unseens__header {
  display: none;
}

.hdg--divider::before {
  background: #f1f1f1;
}

.inbox--with-sections .posting[data-seen],
.inbox--with-sections .pagination-link {
  background-color: transparent;
  filter: grayscale(100%) contrast(50%) brightness(140%);
}

:root:not([data-color-scheme="light"]) .inbox--with-sections .posting[data-seen] {
  opacity: 0.2;
}

.inbox--with-sections .posting[data-seen]:hover {
  filter: none;
  border-radius: 50px;
  opacity: 1 !important;
}

.blocked-trackers__notice {
  display: none;
}

.inbox--with-sections .posting[data-seen] img.avatar {
  filter: contrast(50%) brightness(170%) saturate(80%);
}

.btn--icon-new {
  border-color: var(--color-bg--surface-glint-opaque);
}

:root:not([data-color-scheme="light"])
  .inbox--with-sections
  .posting[data-seen],
:root:not([data-color-scheme="light"]) .inbox--with-sections .pagination-link {
  background-color: transparent;
}

.btn--icon-new::before {
  filter: grayscale(1) brightness(20) !important;
}

.trays__scroller {
  background: none;
}

.inboxes--feed .entry__body {
  display: none;
}

.inboxes--feed h2 {
  font-size: 1.5rem;
}

.inboxes--feed .entry__avatar .avatar {
  width: 1em;
  height: 1em;
}

.inboxes--feed .sheet {
  padding: 0;
  margin: 0;
}

.inboxes--feed .posting {
  margin-bottom: 2rem;
}

.inboxes--feed .entry__type-icon {
  width: .25em;
  height: .25em;
}

.inboxes--feed .topic__header {
  align-items: center;
  flex-direction: row;
}

.inboxes--feed .entries {
  margin-top: 0;
}

:root {
  --color-bg--main-thick: #fff;
  --color-tertiary: #888;
}
