#docs-editor {
    background-color: white !important;
}

.kix-paginateddocumentplugin.kix-paginateddocumentplugin-compact-mode {
    box-shadow: none;
}

.navigation-widget {
    border-right: 1px solid #ddd;
}

.kix-page-compact::before {
    border: none;
}

.left-sidebar-container {
    overflow: hidden;
}

.docs-gm-sidebars .navigation-widget {
    margin-left: 0;
}

.docs-gm-sidebars .navigation-widget-hat-title {
    font-family: Roboto !important;
}

.navigation-item {
    padding: 0 12px;
}

.navigation-widget-hat {
    display: none;
}

.kix-document-top-shadow, #spellGrammarCheckButton, #printButton, #undoButton, #redoButton, #insertLinkButton, #clearFormattingButton, #clearFormattingSeparator {
    display: none;
}
/*
.navigation-widget-hat,
.left-sidebar-container {
    border: none;
}
*/
