/* From https://mikeindustries.com/blog/archive/2022/12/how-to-automatically-post-your-tweets-to-mastodon */
/* Composer */

textarea {
  border: 1px solid #eee !important;
  border-radius: 6px;
  outline: none;
}

textarea:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px #ccc;
}

.compose-box {
  grid-template-areas:
    "avatar name        handle      handle"
    "avatar cw          cw          cw"
    "avatar input       input       input"
    "avatar gauge       gauge       gauge"
    "avatar autosuggest autosuggest autosuggest"
    "avatar poll        poll        poll"
    "avatar toolbar     toolbar     length"
    "avatar media       media       media"
    "avatar sensitive   sensitive   sensitive" !important;
  grid-template-columns: min-content minmax(0, max-content) 1fr 1fr;
  padding: 20px 30px 0 20px !important;
}

.compose-box-input {
  margin-top: 0 !important;
}

.compose-box-display-name,
.compose-box-handle {
  display: none;
}

.compose-box-button {
  border-radius: 6px !important;
  border: 0 !important;
}

.compose-box-button-wrapper {
  scale: 75%;
  margin-top: -43px;
  margin-right: 2px;
}

.compose-box-border-bottom {
  display: none;
}

.compose-box-button-halo {
  background-color: transparent !important;
}

.compose-box-button-compose.hidden {
  opacity: 1 !important;
}

.compose-box-button-svg {
  opacity: 1 !important;
}

.compose-box-button span {
  visibility: hidden;
}

.compose-box-button-spinner {
  display: none !important;
}

.compose-box-border-bottom {
  background-color: #eee !important;
}

.compose-box-avatar img {
  border-radius: 6px !important;
}

.length-indicator {
  color: #666 !important;
  opacity: 0.5;
  font-size: 1em !important;
  justify-self: left !important;
}

/* Timeline and anatomy */

:root {
  --status-pad-v: 15px !important;
}

main {
  border: none;
  margin-top: -15px !important;
}

.timeline-home-anchor-container {
  border-radius: 6px !important;
  border: 1px #eee solid !important;
}

article {
  border-color: #eee !important;
}

.main-content {
  background-color: #fff;
}

.status-toolbar {
  margin-left: -7px;
  margin-right: -4px;
  justify-content: end !important;
}

.status-sidebar img {
  border-radius: 6px !important;
  margin-top: 5px !important;
}

time {
  font-size: 0.9em !important;
  opacity: 0.6;
}

.poll {
  border-radius: 6px !important;
  border: 1px solid #eee !important;
}

.status-header {
  opacity: 0.6;
}

.status-header-avatar {
  visibility: hidden;
  height: 1px;
}

.status-content.shown,
.status-spoiler {
  margin-top: 0 !important;
}

.status-content.status-in-own-thread {
  margin-top: 1em !important;
}

.status-author-handle {
  opacity: 0.6;
}

.status-spoiler-button button {
  border: none;
  padding: 0.6em 1.1em !important;
  background-color: #eee;
  color: #666;
  font-size: 1em !important;
  border-radius: 6px;
}

.status-spoiler-button button:hover {
  background-color: #ddd;
}

.icon-button-svg {
  width: 18px;
  height: 18px;
  fill: #ccc;
}
