/* Hide wrong logo */
a[aria-label="X"] > div {
  display: none !important;
}

/* Add nice bird */
a[aria-label="X"]:after {
  font-family: "TwitterChirp";
  content: "";
  font-size: 48pt;
  margin: 16px 0 8px;
  color: #ccc;
}

/* Sidebar sections */
[aria-label="Grok"],
[aria-label="Business"],
[aria-label="Verified Orgs"] {
  display: none;
}

/* Clean up sidebar */
[aria-label="Trending"] > div {
  & > * {
    display: none;
  }
  & > *:nth-child(-n + 2),
  & > *:last-child {
    display: block;
  }
}
