* {
  font-family: system-ui !important;
  line-height: 1.5;
}
.title {
  font-size: 18px;
  font-weight: 600;
}
.subtext {
  font-size: 14px;
}
.comment {
  font-size: 16px;
  line-height: 1.5;
  max-width: 48em;
}
tr.spacer {
  height: 14px !important;
}

/* Make it more creeaaammmyyy */
body {
  background: papayawhip;
}

/* Why the hell not? */
#hnmain {
  padding: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 25px;
  margin: 20px auto;
}
