snippet mod
module $1 where


-- MODEL


type alias Model =
	{ $2
	}


-- UPDATE


type Action
	= $3


update : Action -> Model -> Model
update action model =
	case action of

		$4


-- VIEW


view : Signal.Address Action -> Model -> Html
view address model =
	div []
		[ $5
		]

endsnippet
