snippet cl
	console.log(${1});
snippet f
	function(${1}) {${2}}
snippet iife
	(function() {
		'use strict';

		${1}
	})();
snippet desc
	describe("${1}", function() {
		${2}
	});
snippet it
	it("${1}", function() {
		${2}
	});
snippet bef
	beforeEach(function() {
		${1}
	});
snippet aft
	afterEach(function() {
		${1}
	});
snippet befi
	beforeEach(inject(function(${1}) {
	  ${2}
	}));
snippet fn
	function ${1}() {
		${2}
	}
